<div class="container-fluid main-container">
  <%= form_for [@group, @task], remote: true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>

    <%= f.label :priority %>
    <%= f.text_field :priority, class: "form-control" %>

    <%= f.label :user %>
    <%= f.select :user_id, options_for_select(@group.options_for_user, selected: @task.user.id), {}, class: "form-control" %>

    <%= f.submit "Create Task", class: "btn btn-primary new-task-button", id: "create-task" %>
  <% end %>
</div>
