<h2>Group for: <%= @group.course %></h2>
<h2>Currently <%= @group.users.length %>/<%= @group.size %> users</h2>
<% if @requested %>
  <h3>You have already requested to join this group!</h3>
<% else %>
  <%= form_for :request_join, url: request_join_group_path(@group), method: :post, remote: true do |f| %>
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control"%>

    <%= hidden_field_tag :user_id, @user.id %>
    <%= f.submit "Request to join!", class: "btn btn-primary" %>
  <% end %>
<% end %>
