<div class="container-fluid">
  <h1><%= @group.name %> <%= @users.length.to_s + "/" + @group.size.to_s %></h1>
  <ul>
    <% @users.each do |user| %>
      <li><h3><%= user.first_name %> <%= user.last_name %></h3></li>
    <% end %>
  </ul>
  <% if @users.length < @group.size and @requests.any? %>
    <%= render "groups/requests" %>
  <% end %>
  <%= render 'groups/tasks' %>
  <%= render "chatrooms/room", name: "main" %>
</div>
